.campoMailTitle {
    text-align: center;
    font-family: "Montserrat Alternates", sans-serif !important;
    font-size: 24px !important;
    line-height: normal !important;
    font-weight: 800 !important;
}